html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", Helvetica;
}

html {
  background-color: #f7fafc;
  transition: 0.4s;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS STYLE FOR  TAGS INSIDE MARKDOWN PREVIEW */
.upload-markdown h2 {
  font-style: italic;
}
